:root {
    --flex:flex;
    --justify-content:center;
    --align-item:center;
    --flex-start:flex-start;
    --normal-gap:8px;
    --space-evenly:space-evenly;
}


.navbar {
  padding: 3rem 3rem;
 
}
.logo {
    display: var(--flex);
    align-items: var(--flex-start);
    align-items: var(--align-item);
    gap: var(--normal-gap);
}
.logo h3 {
    font-size: 22px;
    letter-spacing: 1px;
  cursor: pointer;
}
.logo h3:hover {
    font-size: 20px;
    /* transition: .3s ease-in; */
}
.top {
    display: var(--flex);
    /* justify-content: var(--space-evenly); */
    justify-content: space-between;
    align-items: var(--align-item);
    width: 100%;
}
li  {
    display: inline;
}
li a {
    margin: 20px 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
   
}
li a:hover {
    color: #2e0359;
}
.now button {
    background-color: #2e0359;
    color: white;
    font-family: 'poppins';
    width: 140px;
    border-radius: 50px;
    height: 38px;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}
.now button:hover {
    color: black;
    background-color: white;
    border: 1px solid #2e0359;
}
.now {
    position: relative;
    margin-right: 6rem;
}
.icon_tag,.close {
    display: none;
}

@media screen and (max-width:768px) {
    .sections,.now {
        display:none;

    }
    .icon_tag,.close {
        display: unset;
    }
    .mobile_side {
        background-color: aliceblue;
        position: fixed;
        top: 2rem;
        right: 2rem;
        width: 70%;
        padding: 30px;
    }
    .mobile li a {
        display: block;
    }
    .mobile button {
        background-color: #2e0359;
        color: white;
        font-family: 'poppins';
        width: 120px;
        border-radius: 50px;
        height: 38px;
        outline: none;
        border: none;
        cursor: pointer;
        letter-spacing: 1px;
    }
    .mobile button:hover {
        color: black;
        background-color: white;
        border: 1px solid #2e0359;
    }
}